<footer class="footer">
  <div class="container">
    <p class="text-muted">
      &copy;
      <a target="_blank" href="https://github.com/marcinkazmierski/pokemon-app">
        github: marcinkazmierski/pokemon-app
      </a>
    </p>
  </div>
</footer>