<h1>Editing Pokemon</h1>

<%= render 'form', pokemon: @pokemon %>

<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Show', @pokemon %> |
    <%= link_to 'Back', {:controller => "pokemons", :action => "all"} %>
  </div>
</div>