table {
    width: 100%;
}

table td {
    padding: 4px;
}

.header-list {
    font-weight: bold;
}

.row.main-content {
    margin-top: 50px;
    margin-bottom: 30px;
}

footer {
    background-color: #eee;
}

footer .container > p {
    margin: 28px 0;
}

a{
    color: #4078c0;
    background: transparent;
}
a:hover, a:focus{
    color: #111;
    text-decoration: underline;
    background: transparent;
}