table {
    width: 100%;
}

table td {
    padding: 4px;
}

.header-list {
    font-weight: bold;
}

.row.main-content {
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    .row.main-content {
        margin-top: 90px;
    }
}

footer {
    background-color: #eee;
}

footer .container > p {
    margin: 28px 0;
}

a {
    color: #4078c0;
    background: transparent;
}

a:hover, a:focus {
    color: #111;
    text-decoration: underline;
    background: transparent;
}

.margins {
    margin-top: 25px;
    margin-bottom: 30px;
}

.text-center img {
    display: inline-block;
}